apessentials2/src/main/app/apessentials2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<jms:activemq-connector name="Active_MQ" specification="1.1" brokerURL="tcp://localhost:61111" validateConnections="true" doc:name="Active MQ"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8082" doc:name="HTTP Request Configuration"/>
    

	<flow name="appstartFlow">
	        <http:listener config-ref="HTTP_Listener_Configuration" path="/sfdc" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="subFlow" doc:name="subFlow"/>
        <flow-ref name="subFlow2" doc:name="subFlow2"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/flow2" method="GET" doc:name="HTTP"/>
	        <logger level="INFO" doc:name="logger 1" message="#['Name : ' + message.outboundProperties.qpname + ' type  :' + flowVars.qptype]"/>
	    </flow>
	<flow name="getTopicMesssagesFlow">
	        <jms:inbound-endpoint topic="apessentials" connector-ref="Active_MQ" doc:name="JMS"/>
	        <logger message="#[message.inboundProperties.'name' + ' : '+  payload]" level="INFO" doc:name="Logger"/>
	    </flow>
    <flow name="flow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flow2" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <sub-flow name="subFlow2">
        <set-variable variableName="qptype" value="#[message.inboundProperties.'http.query.params'.type]" doc:name="Variable"/>
        <set-session-variable variableName="color" value="grey" doc:name="Session Variable"/>
    </sub-flow>
    <sub-flow name="subFlow">
        <set-payload value="#['hello world'.toUpperCase()]" doc:name="Set Payload"/>
        <set-property propertyName="qpname" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Property"/>
    </sub-flow>
	    <flow name="postTopicMessageFlow">
	        <http:listener config-ref="HTTP_Listener_Configuration" path="/jms" allowedMethods="GET" doc:name="HTTP"/>
	        <set-payload value="#[message.inboundProperties.'http.query.params'.message]" doc:name="Set Message"/>
	        <set-property propertyName="name" value="Max" doc:name="Set name"/>
	        <jms:outbound-endpoint topic="apessentials" connector-ref="Active_MQ" doc:name="JMS"/>
	    </flow>
	

</mule>
